/*select2 start*/
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single{
  min-height: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single{
  border-color: #ced4da;
}
.select2-container--default .select2-selection--single{
  font-size: 1rem;
}
.select2-container .select2-selection--single .select2-selection__rendered{
  line-height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__clear,
.select2-container--default .select2-selection--single .select2-selection__arrow{
  min-height: 40px;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
  background-color: #000000;
}

/* sidebar  start */
 .sidebar .nav-link, .nav .nav-link {
     font-weight: 500;
     color: #333;
 }
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link,.nav .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active,.nav .nav-link.active {
  color: #333;
  background-color: #ded5ca;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}


/* Navbar start*/

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.action-btn a {
    color: #000000;;
}
